{% extends 'blog/base.html' %}
{% block contenido %}
<div class="container">
    {% if user.is_authenticated %}
        <a href="{% url 'blog-logout' %}">Salir</a>
        <a href="{% url 'create-post' %}">Crear un nuevo post</a>
    {% else %}
        <a href="{% url 'blog-login' %}"> Ingresar</a>
    {% endif %}

    <table class="table">
        <tr>
            <th>Title</th>
            <th>Short Content</th>
            <th>Date Published</th>
            <th>Actions</th>
        </tr>

        {% for post in object_list %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.short_content }}</td>
                <td>{{ post.date_published }} </td>
                <td>
                    {% if user.is_authenticated %}
                        <a href="{% url 'blog-logout' %}">Salir</a>
                        <a href="{% url 'create-post' %}">Crear un nuevo post</a>
                        <a href="{% url 'profile-update' user.id %}">Actualizar Profile</a>
                    {% else %}
                        <a href="{% url 'blog-login' %}"> Ingresar</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>  
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
            {% endif %}

            <span class="current">
                Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">siguiente</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>  
</div>  

{% endblock %}